@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Ref:  http://www.w3schools.com/css/css_syntax.asp */

body { /* General style rules for the body section */
	background-color:#CC7011;
	color: #CC5621;
	text-align: center;
	font-family:'Raleway', sans-serif;

}

h2{
	color: red;
}

h3 { /* Matches elements with h3 tag */
	color: white;
	/*text-decoration: line-through;*/
}

h4 {
	color: brown;
	/*text-decoration: underline;*/
}

h5 {
	color: yellow;
	/*text-decoration: overline;*/
}

#div1 { /* Matches element with id=SimpleDiv */
	background-color: #E8C86E;

	color: #753113;


	border-style: solid groove;
  border-width: 5px;
	border-color: #F1FF88;
	margin: 5%;
	padding: 6px;
}


#div2 {
	background-color: #CBFF3A;
	margin: 5%;
	padding: 6px;
	/*float: left;*/
}

#div3 {
	background-color: #CBFF3A;
	margin: 5%;
	padding: 6px;
	/*float: right;*/
	/*width: 20%*/
}

#div5 {
	background-color: #CBFF3A;
	margin: 5%;
	padding: 6px;
	/*float: right;*/
}

#div4 {
	background-color: #CBFF3A;
	margin: 5%;
	padding: 6px;
	/*clear: both;*/
}


#div6 {
  color: #fff;
  text-shadow: 0 0 15px rgba(255, 255, 255, .5),
               0 0 30px rgba(255, 255, 255, .5),
               0 0 40px rgba(52, 152, 219, 1),
               0 0 50px rgba(52, 152, 219, 1),
               0 0 60px rgba(52, 152, 219, 1),
               0 0 70px rgba(52, 152, 219, 1);

}

#div7 {
	background-color: black;

	color: white;
	text-shadow: 0 0 15px rgba(255, 255, 255, .5),
							 0 0 30px rgba(255, 255, 255, .5),
							 0 0 40px rgba(255, 255, 0, 1),
							 0 0 50px rgba(255, 255, 0, 1),
							 0 0 60px rgba(255, 255, 0, 1),
							 0 0 70px rgba(255, 255, 0, 1);

	  margin: 10%;
		border-style: solid groove;
	  border-width: 5px;
		border-color: white;
		padding: 50px;
}

#div8 {
  color: #fff;
  text-shadow: 0 0 15px rgba(255, 255, 255, .5),
               0 0 30px rgba(255, 255, 255, .5),
               0 0 40px rgba(52, 152, 219, 1),
               0 0 50px rgba(52, 152, 219, 1),
               0 0 60px rgba(52, 152, 219, 1),
               0 0 70px rgba(52, 152, 219, 1);

							 margin: 10%;
							 border-style: solid groove;
							 border-width: 5px;
							 border-color: white;
							 padding: 50px;

}
#div9 {
	background color: #5F00FF
}
