@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Ref:  http://www.w3schools.com/css/css_syntax.asp */

body { /* General style rules for the body section */
	background-color:#CC7011;
	color: #CC5621;
	text-align: center;
	font-family:'Raleway', sans-serif;

}

h2{
	color: red;
}

h3 { /* Matches elements with h3 tag */
	color: white;
	text-decoration: line-through;
}

h4 {
	color: brown;
	text-decoration: underline;
}

h5 {
	color: yellow;
	text-decoration: overline;
}

#div1 { /* Matches element with id=SimpleDiv */
	background-color: #F4B1D1;

	color: hotpink;


	border-style: solid groove;
  border-width: 5px;
	border-color: green;
	margin: 5%;
	padding: 6px;
}


#div2 {
	background-color: #CC1A54;
	margin: 5%;
	padding: 6px;
	/*float: left;*/
}

#div3 {
	background-color: #F1FF88;
	margin: 5%;
	padding: 6px;
	float: right;
	width: 20%
}

#div5 {
	background-color: #F1FF88;
	margin: 5%;
	padding: 6px;
	/*float: right;*/
}

#div4 {
	background-color: #D307FF;
	margin: 5%;
	padding: 6px;
	/*clear: both;*/
}
